<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "The Login Omniauth Bootstrap" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "The Login Omniauth Bootstrap" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
    <div id="user-widget">
  <hr>
  <% if Rails.env.development? %>
    <%= raw CGI::escapeHTML(current_user.inspect) %>
    <br>
    <pre>
      <%= raw session[:omniauth_data].to_yaml %>
    </pre>
  <% end %>
</div>
  </body>
</html>
